.banner {
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 0 1rem;
}

.banner .product {
  /* background-color: red; */
  width: 100%;
  max-width: 400px;
  height: 400px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  translate: -50% 50%;
  z-index: 1;
  transition: 0.7s;
}

.banner .product .soda {
  background: url(/bg.jpg), url(/soda_can.png);
  background-size: auto 100%;
  width: 220px;
  aspect-ratio: 2/4;
}
